﻿/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/roboto-v18-latin/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/roboto-v18-latin/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/roboto-v18-latin/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/roboto-v18-latin/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/roboto-v18-latin/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/roboto-v18-latin/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/roboto-v18-latin/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/roboto-v18-latin/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/roboto-v18-latin/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/roboto-v18-latin/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/roboto-v18-latin/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn.jsdelivr.net/gh/shaylorecords/srw@1.0.4/fonts/roboto-v18-latin/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
